NEXTAUTH_SECRET='change-this-secret'
ADMIN_EMAIL='mustafaemin3458@gmail.com'
ADMIN_PASSWORD_HASH='$2b$12$replace-with-bcrypt-hash'
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPLE_ID=
APPLE_SECRET=
APPLE_TEAM_ID=
APPLE_KEY_ID=
